@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3869D2;
  --bg-color: #FAFAFA
}

body {
  background-color: var(--bg-color);
}

.cherry-font {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.bungee-font {
  font-family: "Bungee", system-ui;
}
